[Desktop Entry]
Version=0.5
Name=CMCompiler
Name[en_US]=CMCompiler
GenericName=CMCompiler
Comment=Build cyanogenmod
Exec=cmcompiler
Terminal=false
Icon=/usr/share/cmcompiler/images/cmc-icon.png
Type=Application
Categories=GTK;Development;

X-Ayatana-Desktop-Shortcuts=Compile;Sync;Download
[Compile Shortcut Group]
Name=Compile
Exec=cmcompiler -c
TargetEnvironment=Unity

[Sync Shortcut Group]
Name=Sync
Exec=cmcompiler -s
TargetEnvironment=Unity
