Package: cmcompiler-daily
Version: 0.4
Architecture: amd64
Maintainer: lithid <long.jeremie@gmail.com>
Installed-Size: 1656
Depends: python, python-gtk2, python-vte
Section: devel
Priority: optional
Homepage: http://forum.xda-developers.com/showthread.php?t=1415661
Description: Cyanogenmod Compiler daily build
 Build cyanogenmod for offically supported devices (daily development builds)
