[Desktop Entry]
Version=0.4
Name=CMCompiler
Name[en_US]=CMCompiler
GenericName=CMCompiler
Comment=Build cyanogenmod
Exec=/usr/bin/cmcompiler
Terminal=false
Icon=/usr/share/cmcompiler/images/cmc-icon.png
Type=Application
Categories=GTK;Development;

X-Ayatana-Desktop-Shortcuts=Compile;Sync;Download
[Compile Shortcut Group]
Name=Compile
Exec=/usr/bin/cmcompiler --compile
TargetEnvironment=Unity

[Sync Shortcut Group]
Name=Sync
Exec=/usr/bin/cmcompiler --sync
TargetEnvironment=Unity

[Download Shortcut Group]
Name=Download
Exec=/usr/bin/cmcompiler --download
TargetEnvironment=Unity
